$primary: #16191e;
$secondary: #ffffff;
$contain: #fafafa;
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  // background: #fafafa;
}
.top {
  // background: $primary;
  background: $primary;
  background-image: url(../src/assets/group2.svg);
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 1%;
}
header {
  display: flex;
  padding: 1.25rem 3.75rem 0 2.5rem;
  justify-content: space-between;
  margin-bottom: 2.875rem;
}
header a {
  text-decoration: none;
}
.search {
  margin-left: 100px;
  display: flex;
  width: 500px;
  height: 42px;
  background-image: url(../src/assets/search_icon.svg);
  background-repeat: no-repeat;
  background-color: #2d2f34;
  background-position: 10px 10px;
  padding-left: 40px;
  border: 0;
  outline: none;
  border-radius: 10px;
}
.login {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $secondary;
  margin-top: 12px;
}
.join-btn {
  width: 100px;
  height: 42px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

// Section After Nav

.container {
  // max-width: 1400px;
  margin: 0 1.6rem;
  display: flex;
  justify-content: space-between;
}

.first-col {
  flex-basis: 45%;
}
.second-col {
  flex-basis: 45%;
}
.header-main {
  padding-left: 3.75rem;
  // filter: drop-shadow(20px 20px #a0a0df);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
  //   inset 0px 0px 10px rgba(254, 254, 255, 0.6);
  // background: #a0a0df;
  // border: 1px solid #ffffff;
  // box-sizing: border-box;
  // border-radius: 30px;
}
.bold-text {
  font-weight: 700;
  padding: 5.93rem 0;
  color: $secondary;
  font-size: 2.625rem;
}

// Mini Container Section

.small-container {
  display: flex;
  background: rgba(255, 255, 255, 1);
  width: 84%;
  height: 6.25rem;
  opacity: 0.9;
  margin: -9rem 6.25rem 0 7.4rem;
  justify-content: space-around;
  box-shadow: 0px 10px 20px rgba(34, 35, 49, 0.15);
  backdrop-filter: blur(14px);
  border-radius: 10px;
  .data {
    display: flex;
    margin-top: 1.75rem;
    .data-num {
      font-size: 36px;
      margin-right: 10px;
    }
    .data-content {
      font-size: 24px;
      margin-top: 6px;
    }
  }
}

// Exclusive Drop section
.exclusive-container {
  width: 100%;
  background: $contain;
  opacity: 0.9;
  padding: 3.125rem 4.375rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
.exclusive-top {
  display: flex;
  padding-bottom: 3.125rem;
  justify-content: space-between;
  h1 {
    font-size: 2.25rem;
  }
  .category-btn {
    width: 8.5rem;
    height: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    color: #4f546b;
    background: $secondary;
    margin-top: 8px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 6px 10px rgba(34, 35, 49, 0.1);
    img {
      position: relative;
      left: 9px;
    }
  }
}
.card-container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: grid;
  box-sizing: border-box;
  flex-basis: 23%;
  // grid-template-columns: 285px;
  grid-template-rows: 285px 95px 72px;
  grid-template-areas: "image" "text" "bids";
  // margin: 20px;
  border-radius: 18px;
  background: $secondary;
}
.card-image {
  grid-area: image;
  background: url(./assets/card_1.svg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 15px;
}
.card-text h6 {
  margin: 14px 16px;
  font-size: 16px;
}
.card-text img {
  margin-left: 16px;
}
.sub-card-text {
  display: flex;
  font-size: 13px;
  .creator-name {
    margin: 10px;
    letter-spacing: 1.3px;
    width: 8.5rem;
  }
  .number-of-like {
    margin: 10px 6px 0 0;
    color: #7983a3;
  }
}
.card-bid {
  grid-area: bids;
  display: flex;
  background: #343647;
  color: $secondary;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  line-height: 1.4;

  .bid-col-1 {
    flex: 1;
    margin-top: 14px;
    margin-left: 16px;
    .bid-value {
      font-weight: 700;
    }
  }
  .bid-col-2 {
    margin-top: 14px;
    margin-right: 16px;
    .bid-timing {
      font-weight: 700;
    }
  }
}
.exclusive-bottom {
  justify-content: center;
  text-align: center;
  padding-top: 4%;
  .view-btn {
    width: 8.5rem;
    height: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    color: #16191e;
    background: $secondary;
    margin-top: 8px;
    border-radius: 10px;
    border: 1.5px solid $primary;
    filter: drop-shadow(0px 10px 20px rgba(34, 35, 49, 0.1));
  }
}

// Featured Creator section

.featured-container {
  width: 100%;
  background: $contain;
  opacity: 0.9;
  padding: 3.125rem 4.375rem;
  h1 {
    padding-bottom: 3.125rem;
    font-size: 2.25rem;
  }
}
.card-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fea-card {
  display: grid;
  box-sizing: border-box;
  flex-basis: 23%;
  // grid-template-columns: 250px;
  grid-template-rows: 118px 128px 75px;
  grid-template-areas: "image" "text" "stat";
  // margin: 10px;
  border-radius: 18px;
  background: $secondary;
}
.fea-card-image {
  grid-area: image;
  background: url(../src/assets/fea_card_1.svg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.fea-card-text {
  grid-area: text;
  justify-content: center;
  text-align: center;
  margin-top: -43px;
  img {
    margin-bottom: 20px;
  }
  h4 {
    color: #16191e;
    font-size: 16px;
    margin-bottom: 6px;
  }
  p {
    color: #343647;
    font-size: 13px;
    letter-spacing: 1.2px;
  }
}
.fea-card-stat {
  grid-area: stat;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  .stat-col-1 {
    flex: 1;
    margin-top: 16px;
    margin-left: 24px;
    p {
      color: #333333;
      font-size: 13px;
    }
  }
  .stat-col-2 {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    .follow-btn {
      width: 5.875rem;
      font-weight: 700;
      height: 36px;
      background: $secondary;
      border: 2px solid #b6bdd1;
      border-radius: 10px;
      filter: drop-shadow(0px 10px 20px rgba(34, 35, 49, 0.1));
      cursor: pointer;
    }
  }
}
